table {
   margin: 10px;
    border-collapse: collapse;
    border: 1px solid black;
}
 td {
    padding: 51px 51px 51px 51px; //51
    text-align: center;
    font-family: sans-serif;
    font-size: x-small;
    color: #000;
    background-color:rgb(0,100,0);
    border-top: 3px solid #FFFFFF;
}

td.valtogomb
{
   text-align: top;
}





table, th, td {
    border: 2px solid black;
    border-collapse: collapse;